<!DOCTYPE html>
<html ng-app="plunker">
<head>
	<meta charset='utf-8'>	
    <style>
		@import "styles.css?139"; // généré par: components/less.js/bin/lessc -sm -su bootstrap.less styles.css
		// on peut aussi le faire côté client avec less.js
		// ça prend 4 secondes par chargement au lieu d'une seule fois pour la compilation serveur (nodejs)
    </style>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="script.js"></script>
</head>
<body>

<div class='container-fluid'>
<div class='row-fluid'>
<div class='span10 offset1'>

<h1><i class="icon-double-angle-left"></i> Démo Angular &amp; Bootstrap <small>avec des directives et un <em>look</em> bootswatch</small></h1>
	
<div class='hero-unit'>
<p>Utilisons Twitter Bootstrap pour le <em>framework</em> visuel et
AngularJS pour l'application MVC. Le tout est combiné via
<em><a href='http://angular-ui.github.com/bootstrap/'>Bootstrap components written in pure AngularJS by the AngularUI Team</a></em>
tandis que le <em>look</em> est choisi chez <a href='http://bootswatch.com/'>bootswatch</a> (amelia en ce moment).</p>
</div>

</div>
</div>

<div class='row-fluid'>
<div class='span10 offset1' ng-controller="AccordionDemoCtrl">
  <label class="checkbox">
    <input type="checkbox" ng-model="oneAtATime">
    <i class="icon-double-angle-left"></i> Un <em>tab</em> à la fois
  </label>
  <accordion close-others="oneAtATime">
    <accordion-group is-open="true" heading="Static Header">
<div class='container-fluid'>
<div class='row-fluid'>
	
	
<div class='span4' ng-controller="CollapseDemoCtrl">
	<button class="btn" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
	<hr>
	<div collapse="isCollapsed">
		<div class="well well-large">Some content</div> 
	</div>
</div>	
	
	
<div class='span4'>
      <p><i class="icon-double-angle-left"></i> Ce contenu appartient dans le html, statiquement.</p>
</div>
<div class='span4'>
      <p><i class="icon-double-angle-left"></i> Nous pouvons avoir plusieurs paragraphes ou autres éléments
      et continuer d'utliser le <em>grid</em> pour maintenir la
      disposition visuelle de façon adaptive (<em>responsive</em>).</p>
</div>



</div>
</div>
    </accordion-group>
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </accordion-group>
    <accordion-group is-open="true" heading="Dynamic Body Content">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="btn btn-small" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items"><i class="icon-double-angle-left"></i> {{item}}</div>
    </accordion-group>
  </accordion>
</div>
</div>
</div>
</body>
</html>
